.note_below{
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin-top: 13px;
    font-size: 12px;
    padding: 0px;
}

.note_below > h3{
    font-size: 17px;
    text-align: left;
    font-weight: 400;
    margin-left: -15px;
}

.note_below >p{
    font-size: 13px;
    padding-top:4px;
    padding-bottom:5px;
    line-height: 19px;
}

.header_note > h1{
    font-size: 28px;
    font-weight: 500;   
    margin-bottom: 0px;
    margin-top: 1px;
}

.header_note{
    display:flex;
    flex-direction: column;
}

.header_note > p{
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 19px;
}

.note_below >p >a{
    text-decoration: underline;
}

.note_below >p >a:hover{
    color: #b9520d;
}

.login__container form .frmErMsgEmailE{
    color: #c40000; display: none;
}

.login__container form .formInfoMessage{
    display: flex;
}

.login_registerButton_sign{
    display: none;
}
